<div class="row no-gutter" id="chat-container">
  <div class="col-9" id="main-view">
    <div class="header bg-primary">
      <h2>{{ 'CHAT_TITLE' | translate }}</h2>
    </div>
    <div id="chat" class="p-1">
      <app-chat-list></app-chat-list>
    </div>
    <div id="chat-input" class="p-1">
      <app-chat-input></app-chat-input>
    </div>
  </div>
  <div class="col" id="side-view">
    <div class="header bg-primary">
      <h2>{{ 'PARTICIPANTS_TITLE' | translate }}</h2>
    </div>
    <div id="participants" class="p-1">
      <app-participants></app-participants>
    </div>
  </div>
</div>
