$divider-color: #e2e2e2

#chat-container
  width: 100vw
  height: 100vh

  #side-view
    border-left: 1px $divider-color solid

  #chat-input
    position: absolute
    width: 100%
    bottom: 0
    left: 0
    border-top: 1px $divider-color solid

  .header
    height: 50px
    color: white
    padding: 0 10px 0 10px
    display: flex
    align-items: center

    *
      margin: 0
